* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: #263238;
}

ul {
  list-style: none;
}

.coinlist-image {
  width: 50px;
}

.coinlist-item {
  display: flex;
}

.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 1px;
}

.coin:hover .delete-icon {
  display: block;
}
.dataResult::-webkit-scrollbar {
  display: none;
}
.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}